<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.meg.gachamongddang</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <string>-jar</string>
        <string>/Users/kakao/Desktop/repo/gachamongddang/server/build/libs/server-0.0.1-SNAPSHOT.jar</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/kakao/Desktop/repo/gachamongddang</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/kakao/Desktop/repo/gachamongddang/logs/service.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/kakao/Desktop/repo/gachamongddang/logs/service-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>JAVA_HOME</key>
        <string>/Library/Java/JavaVirtualMachines/jdk-21.jdk/Contents/Home</string>
    </dict>
</dict>
</plist>

